OPENAI_API_KEY="<your-api-key>"
OPENAI_CHAT_MODEL="<openai-model-name"

GITHUB_MCP_URL="https://api.githubcopilot.com/mcp/x/repos/readonly"
GITHUB_PAT="<github-pat>"

CHAINLIT_AUTH_USERS_JSON=[{"username":"john@uchicago.edu","password":"password","name":"John"},{"username":"jane@uchicago.edu","password":"password","name":"Jane"}]
CHAINLIT_AUTH_SECRET="super-long-random-demo-secret-change-me-cant-hack-me"
